* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

.App {
  text-align: center;
  background-color: #647694;
  min-height: 100vh;
}

.Header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.SvgViewer {
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: white;
  margin-top: 10px;

}

.SvgCodePaste{
  height: 500px;
  width: 500px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  left: 15px;
  top: 13px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#saveToProgrammButton{
    margin-top: 10px;
    margin-right: 30px;
    background: #42516b;
}

#loadFromProgrammButton{
    margin-top: 10px;
    margin-left: 30px;
}

#updateSvgButton{
    margin-top: 10px;
    margin-right: 30px;
    background: #42516b;
}

#deleteSvgButton{
    margin-top: 10px;
    background: #42516b;
}

#codeLoaderButton1{
    background: #42516b;
}

#codeLoaderButton2{
    background: #42516b;
    margin-right: 15px;
}

#codeLoaderButton3{
    background: #42516b;
}