.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.Header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.SvgViewer {
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: white;
  margin-top: 10px;

}

.SvgCodePaste{
  height: 500px;
  width: 500px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  left: 15px;
  top: 13px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

